*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Libre Baskerville", serif;
    overflow-x: hidden;
    
}
.Landing-page{
    background-image: url("images/Landing-Pic.jpg");
    width: 100%;
    height: 80vh;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;

}
nav{   
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 10px;
}
.nav{
    display: flex;
    width: 250px;
    justify-content: flex-end;
    margin-right: 5%;
    
}
.nav div a{
    text-decoration: none;
    color:#ff9500;
}

.story{
    background-color: white;
    height: 650px;
    
}

.Landing-page {
    /* color: rgb(218, 139, 0); */
    /* color: #f18701; */
    color:#ff9500;
    position: relative;
}
.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
}


.video{
    height: 500px;
}

.video video{
    /* width: 100%; */
    height: 100%;
    object-fit: cover;
    min-width: 100%;
    position: fixed;
    top:0;
    z-index: -999;

}
.parallax-text{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    font-weight: bold;
    color: #010B13;
    background-color: white;
}
.parallax1{
    background-image: url(images/Parallax-1.JPG);
}
.parallax2{
    background-image: url(images/Parallax-2.JPG);
}
.parallax3{
    background-image: url(images/Parallax-3.jpg);
}

.parallax4{
    background-image: url(images/Parallax-4.JPG);
}
.parallax5{
    background-image: url(images/Parallax-5.JPG);
}
.parallax{
    width: 100%;
    height: 70vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax-text{
    width: 100%;
    background-color: white;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gallary{
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    
    
    
}
.Gallary-maker{
    background-color: #7BAFD4;
    border:none;
    color: white;
    width: 200px;
    height: 70px;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 20px;

    overflow: hidden;
}

.Pictures{
    display: grid;
    width: 95%;
    grid-template-columns: repeat(4,24%);
    grid-template-rows: repeat(4,24%);
    grid-template-areas: 'pic1 pic2 pic3 pic4'
                         'pic1 pic5 pic5 pic4'
                         'pic6 pic5 pic5 pic7'
                         'pic6 pic8 pic9 pic7';
    gap: 5px;
    overflow: hidden;
    margin-bottom: 30px;
    opacity: 0;
    transition: opacity 1.5s linear;
    
}



.Gallary-images{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}
.Pictures>*{
    overflow: hidden;
}
.element1{
    grid-area: pic1;
}
.element2{
    grid-area: pic2;
}
.element3{
    grid-area: pic3;
}
.element4{
    grid-area: pic4;
}
.element5{
    grid-area: pic5;
}
.element6{
    grid-area: pic6;
}
.element7{
    grid-area: pic7;
}
.element8{
    grid-area: pic9;
}
.element9{
    grid-area: pic8;
}
.gallary:hover .Pictures{
    opacity: 1;
    
}
.story p{
    font-size: 22px;
    line-height: 36px;
    max-width: 770px;
    margin: 20px;
    overflow: hidden;
}
.story{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.story strong{
    font-size: 22px;
    line-height: 36px;
    max-width: 770px;
    overflow: hidden;
}

.parallax-text{
    font-size: 25px;

}

@media (max-width:749px){
    .story p, .story strong{
        font-size: 20px;
        line-height: 25px;
        max-width: 770px;
        margin: 10px;
        overflow: hidden;
    }
    .parallax-text{
        font-size: 16px;
    
    }
    h1{
        font-size: 25px;
    }
}
@media (max-width:440px){
    .story p, .story strong{
        font-size: 15px;
        line-height: 25px;
        max-width: 770px;
        margin: 10px;
        overflow: hidden;
    }
    .parallax-text{
        font-size: 13px;
    
    }
}